* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: #eee;
}

nav {
  display: flex;
  background-color: #f5f5f5;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.logo-box p {
  font-size: 18px;
  color: gray;
}
.enter-box {
  border: 3px solid black;
  width: 400px;
  background-color: #ff6666;
  color: white;
  padding: 10px;
}

.search-box {
  cursor: pointer;
  border: 1px solid black;
}
.search-box button {
  background-color: #ff6666;
  color: white;
  padding: 10px;
}

.NavBox {
  background-color: #ddd;
  padding: 10px 40px;
  cursor: pointer;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  margin: 20px 20px;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-left: 50px;
}
nav ul li a {
  text-decoration: none;
  color: #605f5f;
  font-weight: bold;
  flex-direction: space-around;
}
nav ul li a:hover {
  color: #ff6666;
}

.hero{
  display: flex;
  margin: 20px 20px;
  background-color: #c6c6c6;
}
.hero-img{
  max-width: fit-content;
}

.about {
  background-color: #f0f0f0;
  padding: 20px;
}

.about button {
  background-color: #ff6666;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
}

button:hover {
  background-color: #4636ff;
}

.welcome{
  display: flex;
  margin: 20px;
}

.welcome-txt{
  padding: 40px;
  margin: auto;
}

.services {
  background-color: #ddd;
  padding: 20px;
  text-align: center;
  margin: 20px;
}

.service-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 20px;
}

.card {
  background-color: #ddd;
}
.card button {
  background-color: #555;
  color: white;
  border: none;
  margin-top: 15px;
  padding: 10px;
}
.card button:hover {
  background-color: #ff6666;
  cursor: pointer;
}

footer {
  background-color: #ddd;
  text-align: center;
  font-size: 15px;
  padding: 15px;
  margin: 20px;
}
